// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  color: $black;
  background-color: $white;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $grey;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $grey;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: darken($white, 2%);
}


.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

p.video-embed {
  position: relative;
  padding-top: 50%;
}
p.video-embed * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (min-width: 600px) {
      min-height: 8rem;
    }
}
