.btn {
    font-size: 1em;
    padding: 0.6em 2em;
    display: inline-block;
    border-radius: 4px;
    line-height: 1.2;
    background: $primary;
    color: $white;
    text-decoration: none;
    transition: background 250ms ease-in-out;
    border: none;
    font-family: $body-type;

    &:hover {
        background: $primary-dark;
    }
}

.btn--large {
    font-size: 1.5em;
    @media screen and (max-width: 500px) {
        font-size: 1em;
    }
}

.btn--dark {
    background: $primary-dark;
    &:hover {
        background: darken($primary-dark, 5%);
    }
}
